[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=17. Jan_Paweł II
Comment=Jan Paweł II
Exec=x-www-browser https://pl.wikipedia.org/wiki/Jan_Paweł_II
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(Polski);
