[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=03. Partitions of Poland
Comment=Partitions of Poland
Exec=x-www-browser https://en.wikipedia.org/wiki/Partitions_of_Poland
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
