[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=09. Wojna polsko-bolszewicka
Comment=Wojna polsko-bolszewicka
Exec=x-www-browser https://pl.wikipedia.org/wiki/Wojna_polsko-bolszewicka
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(Polski);
