[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=18. Niezależny Samorządny Związek Zawodowy „Solidarność”
Comment=Niezależny Samorządny Związek Zawodowy „Solidarność”
Exec=x-www-browser https://pl.wikipedia.org/wiki/Niezależny_Samorządny_Związek_Zawodowy_„Solidarność”
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(Polski);
