[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=14. Polish government in exile
Comment=Polish government in exile
Exec=x-www-browser https://en.wikipedia.org/wiki/Polish_government-in-exile
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
