[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=08. May Coup (Poland)
Comment=May Coup (Poland)
Exec=x-www-browser https://en.wikipedia.org/wiki/May_Coup_(Poland)
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
