[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=15. Polish material losses during World War II
Comment=Polish material losses during World War II
Exec=x-www-browser https://en.wikipedia.org/wiki/Polish_material_losses_during_World_War_II
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
