[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=17. Pope John Paul II
Comment=Pope John Paul II
Exec=x-www-browser https://en.wikipedia.org/wiki/Pope_John_Paul_II
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
