[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=16. Polish People's Republic
Comment=Polish People's Republic
Exec=x-www-browser "https://en.wikipedia.org/wiki/Polish_People's_Republic"
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
