[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=10. Second Polish Republic
Comment=Second Polish Republic
Exec=x-www-browser https://en.wikipedia.org/wiki/Second_Polish_Republic
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
