[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=01. National Independence Day (Poland)
Comment=National Independence Day (Poland)
Exec=x-www-browser https://en.wikipedia.org/wiki/National_Independence_Day_(Poland)
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
