[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=05. I wojna światowa
Comment=I wojna światowa
Exec=x-www-browser https://pl.wikipedia.org/wiki/I_wojna_światowa
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(Polski);
