[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=20. History of Poland (1989–present)
Comment=History of Poland (1989–present)
Exec=x-www-browser https://en.wikipedia.org/wiki/History_of_Poland_(1989–present)
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=100(English);
